<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <router-link :to="{ name: 'welcome' }" class="nav-logo">
        {{ appName }}
      </router-link>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false">
        <span class="navbar-toggler-icon"/>
      </button>

      <div id="navbarToggler" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              {{ $t('movies') }}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              {{ $t('series') }}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              {{ $t('news') }}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              {{ $t('people') }}
            </a>
          </li>
        </ul>

        <ul class="navbar-nav ml-sm">
          <locale-dropdown/>
        </ul>

        <form class="form-inline col-md-4">
          <el-input
            v-model="input"
            :placeholder="$t('search')"
            class="iform-control mr-sm-2">
            <!-- <el-button slot="append" icon="el-icon-search"></el-button> -->
          </el-input>
        </form>

        <ul class="navbar-nav ml-auto">
          <!-- Authenticated -->
          <li v-if="user" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark"
               href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img :src="user.photo_url" class="rounded-circle profile-photo mr-1">
              {{ user.name }}
            </a>
            <div class="dropdown-menu">
              <router-link :to="{ name: 'home' }" class="dropdown-item pl-3">
                <fa icon="home" fixed-width/>
                {{ $t('home') }}
              </router-link>

              <div class="dropdown-divider"/>
              <router-link :to="{ name: 'settings.profile' }" class="dropdown-item pl-3">
                <fa icon="cog" fixed-width/>
                {{ $t('settings') }}
              </router-link>

              <a href="#" class="dropdown-item pl-3" @click.prevent="logout">
                <fa icon="sign-out-alt" fixed-width/>
                {{ $t('logout') }}
              </a>
            </div>
          </li>
          <!-- Guest -->
          <template v-else>
            <li class="nav-item">
              <router-link :to="{ name: 'login' }" class="nav-link" active-class="active">
                {{ $t('login') }}
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'register' }" class="nav-link" active-class="active">
                {{ $t('register') }}
              </router-link>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'
import LocaleDropdown from './LocaleDropdown'

export default {
  components: {
    LocaleDropdown
  },

  data: () => ({
    appName: window.config.appName,
    input: '',
    select: ''
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  methods: {
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style scoped>
  .profile-photo {
    width: 2rem;
    height: 2rem;
    margin: -.375rem 0;
  }
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }
  .ml-sm {
    margin-left: 5% !important;
  }
  .nav-logo {
    font-family: monoton;
    font-size: 1.5rem;
    margin-right: 1rem;
    color: rgba(0, 0, 0, 0.9);
  }
</style>
