<template>
  <div class="main-layout">
    <navbar/>

    <div class="mt-4">
      <carousel/>
    </div>

    <div class="container mt-4">
      <child/>
    </div>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'
import Carousel from '~/components/Carousel'

export default {
  name: 'MainLayout',

  components: {
    Navbar,
    Carousel
  }
}
</script>
